.invoices {
  padding: 20px;
}


.new-invoice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}


ul {
  list-style: none;
  padding: 0;
}


li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}


@media (min-width: 768px) {
  li {
      flex-direction: row;
      justify-content: space-between;
  }
}
